@media screen and (max-width:576px) {
  .col1, .col2 {
    width: 45%;
  }
  .col3 {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .main-content {
  width: 100%;
  float: none;
  }

  .sidebar {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width:992px) {
  .col1, .col2, .col3 {
    float: none;
    width: 100%;
  }

  .sidebox-1 {
    display:none;
  }
}